#blueRow {
  display: flex;
  justify-content: center;
}

#blue2,
#blue3,
#blue4,
#blue5,
#blue6,
#blue7,
#blue8,
#blue9,
#blue10,
#blue11,
#blue12 {
  background-color: #bfc8e9;
  margin-right: 10px;
  margin-top: 15px;
  height: 3.5em;
  width: 3.5em;
  font-size: 80%;
  border: 0.1px solid black;
  outline: none;
}
#blueLock {
  background-color: #bfc8e9;
  margin-right: 10px;
  margin-top: 15px;
  height: 3.5em;
  width: 5em;
  font-size: 80%;
  border: 0.1px solid black;
  outline: none;
}

#greenRow {
  display: flex;
  justify-content: center;
}

#green2,
#green3,
#green4,
#green5,
#green6,
#green7,
#green8,
#green9,
#green10,
#green11,
#green12 {
  background-color: #c3ebd0;
  margin-right: 10px;
  margin-top: 15px;
  height: 3.5em;
  width: 3.5em;
  font-size: 80%;
  border: 0.1px solid black;
  outline: none;
}
#greenLock {
  background-color: #c3ebd0;
  margin-right: 10px;
  margin-top: 15px;
  height: 3.5em;
  width: 5em;
  font-size: 80%;
  border: 0.1px solid black;
  outline: none;
}

#redRow {
  display: flex;
  justify-content: center;
}

#red2,
#red3,
#red4,
#red5,
#red6,
#red7,
#red8,
#red9,
#red10,
#red11,
#red12 {
  background-color: #ffbfc2;
  margin-right: 10px;
  margin-top: 15px;
  height: 3.5em;
  width: 3.5em;
  font-size: 80%;
  border: 0.1px solid black;
  outline: none;
}
#redLock {
  background-color: #ffbfc2;
  margin-right: 10px;
  margin-top: 15px;
  height: 3.5em;
  width: 5em;
  font-size: 80%;
  border: 0.1px solid black;
  outline: none;
}

#yellowRow {
  display: flex;
  justify-content: center;
}

#yellow2,
#yellow3,
#yellow4,
#yellow5,
#yellow6,
#yellow7,
#yellow8,
#yellow9,
#yellow10,
#yellow11,
#yellow12 {
  background-color: #feecc8;
  margin-right: 10px;
  margin-top: 15px;
  height: 3.5em;
  width: 3.5em;
  font-size: 80%;
  border: 0.1px solid black;
  outline: none;
}
#yellowLock {
  background-color: #feecc8;
  margin-right: 10px;
  margin-top: 15px;
  height: 3.5em;
  width: 5em;
  font-size: 80%;
  border: 0.1px solid black;
  outline: none;
}

#penaltiRow {
  display: flex;
  justify-content: center;
}

#checkBlue,
#checkRed,
#checkYellow,
#checkGreen {
  background-color: white;
  margin-top: 2%;
  height: 4em;
  width: 5em;
  font-size: 10px;
  outline: none;
  border: 0.1px solid black;
}

#pen1,
#pen2,
#pen3,
#pen4 {
  margin-right: 10px;
  padding: 10px;
}
