.dice{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#dice1, #dice2, #dice3, #dice4, #dice5, #dice6{
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    border: 1px solid black;
}
#dice1, #dice2{
    background-color: white;
}

#dice3{
    background-color: #FFBFC2;
}
#dice4{
    background-color: #FEECC8;
}
#dice5{
    background-color: #C3EBD0;
}
#dice6{
    background-color: #BFC8E9;
}


#rollBTN{
    height:100px; 
    width:125px; 
    margin: 50px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    font-size: 30px;
    border: 1px solid black;
    background-color: white;
    
}