#greenRow{
    display: flex;
    justify-content: center;
    font-size: 40px;
    
}
#green2{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green3{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green4{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green5{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green6{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green7{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green8{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green9{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green10{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green11{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green12{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#greenLock{
    background-color: #C3EBD0;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}

#green2:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green3:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green4:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green5:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green6:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green7:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green8:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green9:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green10:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green11:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#green12:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
#greenLock:hover{
    background-color: green;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}