@media (min-width:320px) { /* Phones */
    #yellowRow{
        display: flex;
        justify-content: center;
        font-size: 30px;
        
    }
    
    #yellow2, #yellow3, #yellow4, #yellow5, #yellow6, #yellow7, #yellow8, #yellow9, #yellow10, #yellow11, #yellow12, #yellowLock{
        background-color: #FEECC8;
        margin-right: 10px;
        padding: 5px 10px 5px 10px;
    }
    
}
@media (min-width:1000px) { /* Desktop */
    #yellowRow{
        display: flex;
        justify-content: center;
        font-size: 40px;
        
    }
    
    #yellow2, #yellow3, #yellow4, #yellow5, #yellow6, #yellow7, #yellow8, #yellow9, #yellow10, #yellow11, #yellow12, #yellowLock{
        background-color: #FEECC8;
        margin-right: 10px;
        padding: 10px 20px 10px 20px;
    }
}



#yellow2:hover, #yellow3:hover, #yellow4:hover, #yellow5:hover, #yellow6:hover, #yellow7:hover, #yellow8:hover, #yellow9:hover, #yellow10:hover, #yellow11:hover, #yellow12:hover, #yellowLock:hover{
    background-color: yellow;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
}
